<!-- global alert -->
<div class="global-alert">
	<div class="header">
		<h2><a href="/qld-alert/">Emergency Alert</a></h2>
		<time datetime="2014-10-17T12:33:00+10:00">about 3 minutes ago</time>
	</div>

	<div class="summary">
		<p>
			<a href="#">SE Qld Flood</a> |
			<a href="#">Cyclone Bazza</a> |
			<a href="#">Burke Bushfires</a>
		</p>
	</div>
</div>